<div class="body">
    <div class="form-group">
        <div>
            <img src="https://vignette.wikia.nocookie.net/typemoon/images/b/be/Hechizos_de_Comando_de_Rin_Tohsaka.svg/revision/latest/scale-to-width-down/340?cb=20161023200430&path-prefix=es" alt="logo" class="logo">
            <h1>CREATE YOUR ACCOUNT</h1>
        </div>
        <form>
            <!--USERNAME-->
            <label for="username"></label>
            <input type="text" class="names" id="user" placeholder="Username">

            <!-- NOMBRE COMPLETO -->
            <label for="name"></label>
            <input type="text" class="names" id="name" placeholder="Fullname">

            <!-- APELLIDO PATERNO-->
            <label for="firstSurname"></label>
            <input type="text" class="firstSur" id="lastnameF" placeholder="First Surname">

            <!-- APELLIDO MATERNO -->
            <label for="secondSurnmae"></label>
            <input type="text" class="secondSur" id="lastnameS" placeholder="Second Surname">

            <!-- EMAIL -->
            <label for="email"></label>
            <input type="email" id="email" placeholder="Email@example.com">

            <!-- PASSWORD -->
            <label for="password"></label>
            <input type="password" id="password" placeholder="Password">

            <!-- CONFIRM PASSWORD -->
            <label for="confirmPass"></label>
            <input type="password" id="confirmPass" placeholder="Confirm Password">

            <div class="ingresar">
                <a routerLink="/login" style="color: aliceblue;">CREATE</a>
            </div>

            <div style="text-align: center;">
                <a routerLink="/login" class="linked">¿Ya tienes una cuenta? Inicia sesión </a>
            </div>

        </form>

    </div>
</div>