<div>
    <div class="login-box">
        <h1>LOGIN</h1>
        <form>

            <img src="https://vignette.wikia.nocookie.net/typemoon/images/b/be/Hechizos_de_Comando_de_Rin_Tohsaka.svg/revision/latest/scale-to-width-down/340?cb=20161023200430&path-prefix=es" alt="logo" class="logo">
            <!--USERNAME-->
            <label for="username"></label>
            <input class="user" type="text" placeholder="User">

            <!--PASSWORD-->
            <label for="password"></label>
            <input class="password" type="password" placeholder="Password">

            <input class="ingresar" type="submit" value="INGRESAR">
            <input class="ingresar" type="submit" value="GOOGLE">
            <div style="margin-top: 15px;">
                <a routerLink="/registrer" class="linked">Registrese para crear una cuenta </a>
            </div>
        </form>
    </div>

    <div class="im">
        <form>
            <img src="https://k60.kn3.net/taringa/A/E/9/7/A/5/-Dystopia-/4E9.png" alt="xx" class="tam">
        </form>
    </div>
</div>