<div class="body">
    <div class="row">
        <div class="test" style="margin-bottom: 50px;">
            <img src="https://vignette.wikia.nocookie.net/typemoon/images/b/be/Hechizos_de_Comando_de_Rin_Tohsaka.svg/revision/latest/scale-to-width-down/340?cb=20161023200430&path-prefix=es" alt="logo " class="logo ">
        </div>
        <div class="col-3 ">
            <div class="nav flex-column nav-pills " id="v-pills-tab " role="tablist " aria-orientation="vertical ">
                <a class="nav-link " id="v-pills-home-tab " data-toggle="pill " role="tab " aria-controls="v-pills-home " aria-selected="false ">Home</a>
                <a class="nav-link " id="v-pills-profile-tab " data-toggle="pill " role="tab " aria-controls="v-pills-profile " aria-selected="false ">Profile</a>
                <a class="nav-link active " style="background-color: rgb(143, 14, 14); " id="v-pills-messages-tab " data-toggle="pill " routerLink="/dashboard" role="tab " aria-controls="v-pills-messages " aria-selected="true ">Dashboard</a>
                <a type="button" class="nav-link " id="v-pills-settings-tab " data-toggle="pill " role="tab " aria-controls="v-pills-settings " aria-selected="true " (click)="logout()">LogOut</a>
                <!-- routerLink="/login" -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <form>
            <label for="direccion"></label>
            <input class="direc" type="text" placeholder="Address">

            <!-- EMAIL -->
            <label for="email"></label>
            <input type="email" id="email" placeholder="Email@example.com">
        </form>
        <form class="selectImg">
            <input type="file" id="fileupload">
        </form>
        <div>
            <input type="submit" value="ACEPTAR">
        </div>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead class="tbody">
                    <tr class="x">
                        <th scope="col" style="width: 200px;">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col" style="width: 300px;">Email</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td>Luis</td>
                        <td>20</td>
                        <td>example@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 15px; margin-left: 85px;">
            <button type="button" class="btG" style="color: aliceblue;">AGREGAR</button>
            <button type="button" class="btG" style="color: aliceblue;">ACTUALIZAR</button>
            <button type="button" class="btG" style="color: aliceblue;">ELIMINAR</button>
        </div>
    </div>

</div>